.sbw-subpage-section .sbw-partners-title {
    @media (width <= 768px) {
        margin-block: 80px 40px;
    }
}


main > .section.sbw-partners-container {
    padding-bottom: 64px;

    @media (width <= 768px) {
        padding-bottom: 40px;
    }
}

.sbw-partners-container-inner {
    max-width: 1248px;
    margin: 0 auto;
    padding-inline: 24px;
}

.sbw-section-bg-img-contents .sbw-partners-wrapper:first-child {
    @media (width <= 768px) {
        margin-top: 64px;
    }
}

.sbw-partners-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    color: var(--text-black);
    text-align: center;
    margin-block: 64px 40px;

    @media (width <= 768px) {
        margin-block: 40px 24px;
    }
}
.sbw-partners-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sbw-partners-link a {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}
.sbw-partners-link a:hover {
    transform: scale(1.02);
}
.sbw-partners-link a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
    border: 1px solid var(--border-gray);
    background-color: var(--background-color);
}

/* パートナークラス別処理 */

/* diamond */
.sbw-partners.diamond .sbw-partners-list {
    gap: 40px;

    @media (width <= 768px) {
        gap: 8px;
    }
}
.sbw-partners.diamond .sbw-partners-link {
    width: 420px;
    height: 200px;

    @media (width <= 768px) {
        width: 156px;
        height: 80px;
    }
}

.sbw-subpage-section .sbw-partners.diamond .sbw-partners-list {
    @media (width <= 768px) {
        gap: 16px;
    }
}

.sbw-subpage-section .sbw-partners.diamond .sbw-partners-link {
    @media (width <= 768px) {
        width: 326px;
        height: 155px;
    }
}

/* platinum */
.sbw-partners.platinum .sbw-partners-list {
    gap: 40px;

    @media (width <= 768px) {
        gap: 8px;
    }
}
.sbw-partners.platinum .sbw-partners-link {
    width: 373px;
    height: 177px;

    @media (width <= 768px) {

        width: 103px;
        height: 56px;
    }
}

.sbw-subpage-section .sbw-partners.platinum .sbw-partners-link {
    @media (width <= 768px) {
        width: 280px;
        height: 133px;
    }
}

.sbw-subpage-section .sbw-partners.platinum .sbw-partners-list {
    @media (width <= 768px) {
        gap: 16px;
    }
}

/* platinumで要素が4つの場合のみ2カラム */
.sbw-partners.platinum .sbw-partners-list:has(.sbw-partners-link:nth-child(4):last-child) {
    max-width: 786px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (width <= 768px) {
        max-width: 214px;
    }
}
.sbw-partners.platinum .sbw-partners-list:has(.sbw-partners-link:nth-child(4):last-child) .sbw-partners-link {
    flex: 0 0 373px;

    @media (width <= 768px) {
        flex: 0 0 103px;
    }
}

.sbw-subpage-section .sbw-partners.platinum .sbw-partners-list:has(.sbw-partners-link:nth-child(4):last-child) {
    @media (width <= 768px) {
        max-width: min-content;
    }
}

.sbw-subpage-section .sbw-partners.platinum .sbw-partners-list:has(.sbw-partners-link:nth-child(4):last-child) .sbw-partners-link {
    @media (width <= 768px) {
        flex: auto;
    }
}

/* gold */
.sbw-partners.gold .sbw-partners-list {
    gap: 20px;

    @media (width <= 768px) {
        gap: 8px;
    }
}
.sbw-partners.gold .sbw-partners-link {
    width: 224px;
    height: 122px;

    @media (width <= 768px) {
        width: 159px;
        height: 80px;
    }
}

/* silver */
.sbw-partners.silver .sbw-partners-list {
    gap: 20px;

    @media (width <= 768px) {
        gap: 8px;
    }
}
.sbw-partners.silver .sbw-partners-link {
    width: 183px;
    height: 91px;

    @media (width <= 768px) {
        width: 103px;
        height: 52px;
    }
}