section.sbw-section-bg-img.sbw-section-message{
    .sbw-section-bg-img-contents{
        margin-top: 0;
    }
}

.sbw-message{
    hgroup{
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 8px;

        p,
        h2{
            overflow-wrap: break-word;
            word-wrap: break-word;
            word-break: break-word;
            hyphens: auto;
            margin: 0;
        }
        p{
            display: inline-block;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.06em;
            background: linear-gradient(90deg, #A3B8FF 0%, #CD98FF 80%, #FF72FF 100%);
            margin: 0;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
        }
        h2{
            font-family: var(--heading-font-family);
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 44.8px */
            color: var(--text-white);

            @media (width <= 768px) {
                font-size: 24px;
            }
        }
    }

    .sbw-message-contents{
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 20px;
        margin-top: 40px;

        @media (width <= 768px) {
            flex-direction: column-reverse;
            gap: 64px;
            margin-top: 80px;
        }

        .sbw-message-img {
            @media (width <= 768px) {
                width: 100%;
            }
        }

        .sbw-message-img .sbw-message-img-caption {
            display: flex;
            flex-direction: column;
            gap: 8px;
            font-size: 12px;
            font-weight: 500;
            line-height: 1.25;
            color: var(--text-gray);
        }
        .sbw-message-img picture{
            max-width: 480px;
            border-radius: 4px;
            overflow: hidden;
            aspect-ratio: 16 / 9;

            @media (width <= 768px) {
                position: relative;
                width: 100%;
                height: 0;
                padding-bottom: 56.25%; /* 16:9のアスペクト比 */
            }
        }
        .sbw-message-img img{
            object-fit: cover;
            display: block;

            @media (width <= 768px) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        .sbw-message-text{
            max-width: 600px;
        }
        .sbw-message-text p{
            color: var(--text-white);
            line-height: 180%;
            margin: 0;
        }
        .sbw-message-text p + p{
            margin-top: 1em;
        }
    }
}