/* stylelint-disable max-line-length */
@font-face {
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/NotoSansJP-Regular.woff2') format('woff2');
}

@font-face {
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/NotoSansJP-Medium.woff2') format('woff2');
}

@font-face {
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/NotoSansJP-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
}

@font-face {
    font-family: "Aboreto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Aboreto-Regular.woff2') format('woff2'),
        url('../fonts/Aboreto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/PlusJakartaSans-SemiBold.woff') format('woff'),
        url('../fonts/PlusJakartaSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/PlusJakartaSans-Regular.woff') format('woff'),
        url('../fonts/PlusJakartaSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/PlusJakartaSans-Medium.woff') format('woff'),
        url('../fonts/PlusJakartaSans-Medium.ttf') format('truetype');
}